
div {
    margin: 30px;
    padding: 30px;
}

@media screen and (max-width:1300px) and (min-width:1200px) {
.one {
    height: 0;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #333;
  }
}  

@media screen and (max-width:1200px) and (min-width:883px) {
.one {
    width: 100px;
    height: 100px;
    background-color: blue;
  }
    }

@media screen and (max-width:883px) and (min-width:540px) {
    .one {
        width: 200px;
        height: 100px;
        background-color: rgb(172, 31, 6);
      }
    }

@media screen and (max-width:540px) and (min-width:320px) {
.one {
    width: 200px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
  }
    }

@media screen and (max-width:320px) and (min-width:0px) {
    .one {
        width: 100px;
        height: 100px;
        background-color: blue;
        border-radius: 50%;
      }
    }

